import * as S from './{{pascalCase name}}.styles'
import Layout from '@components/Layout';

export const {{pascalCase name}}Page = (): JSX.Element => (
<Layout title="{{sentenceCase name}}">
    <section className="container">
        <S.Wrapper>
            <h1>{{pascalCase name}}</h1>
        </S.Wrapper>
    </section>
</Layout>
);

export default {{pascalCase name}}Page;