import { FunctionComponent } from 'react';
import * as S from './{{pascalCase name}}.styles'
import Layout from '@components/Layout';

const {{pascalCase name}}Page: FunctionComponent = () => (
<Layout title="{{sentenceCase name}}">
    <S.Wrapper className="container">
        <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
</Layout>
);

export default {{pascalCase name}}Page;